.sound-items-container {
  overflow-x: scroll;
  display: flex;
  flex: 1;
  /* min-height: 10vh; */
  align-items: center;
  /* justify-content: center; */
}

.sound-item {
  border: 1px solid #999;
  border-radius: .4rem;
  min-width: 6rem;
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 2rem 1.2rem;
  text-align: center;
  position: relative;
} .sound-item:hover {
  color: black;
  border-color: black;
} .sound-item:active {
  transform: scale(1.1);
}
.sound-item kbd {
  text-shadow: 0 0 .5rem #ccc;
}
.sound-item-aux {
  margin: 0;
  padding: 0 8px;
  width: min-content;
  color: #888;
  font-weight: lighter;
  font-size: smaller;
  position: absolute;
  top: 0;
  right: 0;

  /* background-color: black; */
  /* color: white; */
  /* border-radius: 50%; */
}

/* apparently this does something */
kbd { display: block; }

.song-container {
  min-height: 20vh;
  max-height: 20vh;
  width: 100vw;
  position: absolute;
  /* https://stackoverflow.com/questions/37386244/what-does-flex-1-mean */
  flex: 1;
  align-items: center;
  /* border: 1px solid #777; */
  background-color: #c9ffff;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;

  /* sounds in song container are active */
  color: black;
}

/* align text case where state = [] */
.song-container p {
  margin: 0 auto;
}

.play-btn-container {
  cursor: pointer;
  min-height: 100%;
  background-color: #b2ffd9;
  min-width: 20%;
  margin: 0 1rem 0 0;
  padding: 0;
}
.play-btn-container:active {
  color: black;
}
.play-btn-container.disabled {
  /* background-color: red; */
  background-color: #efefef;
  cursor: not-allowed;
}
.play-btn-container button {
  cursor: pointer;
  outline: none;
  color: black;
  margin: 50% auto;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  font-size: 600%;
} .play-btn-container button:active {
  color: white;
} .play-btn-container button.disabled {
  color: #bbb;
  cursor: not-allowed;
}
